.planetdetails_wrap {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 15px;
}

.planetdetails_title {
    padding: 5px;
    font-size: 25px;
}

.planetdetails_text {
    padding: 5px;
    border-top: 1px solid grey;
}

.planetdetails_full {
    display: flex;
    position: relative;
    margin: 20px;
    background: rgba(255,255,255,0.6);
    border-radius: 5px;
    flex: 1;
    height: 220px;
    min-width: 360px;
}

.planetdetails_img {
    margin: 10px;
    width: auto;
    height: 200px;
    border-radius: 5px;
}