.persondetails_wrap {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 15px;
}

.persondetails_title {
    padding: 5px;
    font-size: 25px;
}

.persondetails {
    position: relative;
    display: flex;
    margin: 20px;
    background: rgba(255,255,255,0.6);
    border-radius: 5px;
    flex: 1;
    min-width: 360px;
    height: 220px;
}

.persondetails_img {
    margin: 10px;
    width: auto;
    height: 200px;
    border-radius: 5px;
}

.persondetails_text {
    padding: 5px;
    border-top: 1px solid grey;
}

.persondetails_errorbutton {
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
    color: white;
    border: 1px solid red;
}