html {
    height: 100%;
}

body {
    background: repeating-radial-gradient(circle, rgb(50,0,209), rgb(50,0,209)10px, rgb(58,0,168) 10px, rgb(58,0,168)20px) 0 0 / cover no-repeat;
    background:  rgb(50,0,209);
}